<template>
  <v-app>
    <v-app-bar app>
      <v-snackbar
        v-model="isLoggedIn"
        :timeout="timeout"
      >
        {{text}}
      </v-snackbar>
      <v-toolbar-title class="headline text-uppercase">
        <span>Vuetify</span>
        <span class="font-weight-light">MATERIAL DESIGN</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
      >
        <span class="mr-2">Latest Release</span>
      </v-btn>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <span v-if="isLoggedIn"><a @click="logout">Logout</a></span>
      <span v-else><router-link to="/login">Login</router-link></span>
      <span v-if="isLoggedIn"><router-link to="/resources">Resources</router-link></span>
      <span v-else><router-link to="/register">Register</router-link></span>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    snackbar: false,
    text: 'Eingeloggt.',
    timeout: 2000,
  }),
  computed: {
    isLoggedIn: function() {
      return this.$store.getters.isLoggedIn;
    }
  },
  methods: {
    logout: function() {
      this.$store
        .dispatch("logout")
        .then(() => this.$router.push("/login"))
        .catch(err => console.log(err));
    }
  }
};
</script>
